[submodule "Karma/vendor/spdlog"]
	path = Karma/vendor/spdlog
	url = https://github.com/ravimohan1991/spdlog
[submodule "Karma/vendor/GLFW"]
	path = Karma/vendor/GLFW
	url = https://github.com/ravimohan1991/glfw
	ignore = dirty
[submodule "Karma/vendor/ImGui"]
	path = Karma/vendor/ImGui
	url = https://github.com/ravimohan1991/imgui
	ignore = dirty
[submodule "Karma/vendor/GLM"]
	path = Karma/vendor/GLM
	url = https://github.com/ravimohan1991/glm
[submodule "Karma/vendor/glslang"]
	path = Karma/vendor/glslang
	url = https://github.com/ravimohan1991/glslang
	ignore = dirty
[submodule "Karma/vendor/assimp"]
	path = Karma/vendor/assimp
	url = https://github.com/ravimohan1991/assimp.git
	ignore = dirty
[submodule "Karma/vendor/SDL"]
	path = Karma/vendor/SDL
	url = https://github.com/ravimohan1991/SDL.git
[submodule "Karma/vendor/BiosReader"]
	path = Karma/vendor/BiosReader
	url = https://github.com/ravimohan1991/BiosReader.git
