# Directories
build/
obj/

# Visual Studio files
*.user
*.vcxproj
*.vcxproj.filters
*.sln

# Visual Studio directories
.vs/

# Codelite files
*.mk
*.project
*.workspace

# Codelite directories
.codelite/
